<script type='text/javascript'>
  $(function() {
    Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":2,"size_y":1}]')
  });
</script>
<% content_for :title do %>Opta Statistics<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="beer" data-view="Text" data-title="Favorite Beer" data-text="" data-moreinfo=""></div>
    </li>
  </ul>
</div>